@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(66, 74, 83);
    font-family: Asap , sans-serif;
    user-select: none;
}

header{
    background-color: white;
    padding: 10px 0;
}

header > h1{
    text-align: center;
    font-weight: bold;
    color: rgb(66, 74, 83);
}

.scoreBoard{
    margin: 30px auto;
    text-align: center;
    border: 3px solid white;
    width: 200px;
    border-radius: 4px;
    color: white;
    position: relative;
    padding: 10px 6px;
}

.badge{
    background-color: red;
    border-radius: 2px;
    padding: 2px 8px;
    font-weight: bold;
    font-size: 16px;
}

#user{
    position: absolute;
    top: 20px;
    left: -30px;
}

#comp{
    position: absolute;
    top: 20px;
    right: -30px;
}

.score{
    font-size: 35px;
    font-weight: bold;
}

.colon{
    font-size: 35px;
    font-weight: bold;
    
}

.actionMessage{
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.buttonContainer{
    text-align: center;
    margin-top: 30px;
}

.button{
    background-color: white;
    width: 70px;
    height: 70px;
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    margin: 0 20px;
    border: 3px solid gray;
    transition: all .5s ease;
    cursor: pointer;
}

.button:hover{
    border-color: skyblue;
}

.button > img{
    width: 100%;
    height: 100%;
    
}

sub{
    font-size: 18px;
}

p{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    color: white;
}